@model ProgAvanzada_ProyectoFinal.Models.Vertebrados

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Vertebrados</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdVertebrados)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdVertebrados)
            @Html.ValidationMessageFor(model => model.IdVertebrados)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NombreComun)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NombreComun)
            @Html.ValidationMessageFor(model => model.NombreComun)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NombreCientifico)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NombreCientifico)
            @Html.ValidationMessageFor(model => model.NombreCientifico)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumeroPatas)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumeroPatas)
            @Html.ValidationMessageFor(model => model.NumeroPatas)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdHabitat, "Habitat")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdHabitat", String.Empty)
            @Html.ValidationMessageFor(model => model.IdHabitat)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdTipoReproduccion, "TipoReproduccion")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdTipoReproduccion", String.Empty)
            @Html.ValidationMessageFor(model => model.IdTipoReproduccion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdTipoAlimentacion, "TipoAlimentacion")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdTipoAlimentacion", String.Empty)
            @Html.ValidationMessageFor(model => model.IdTipoAlimentacion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdTipoRespiracion, "TipoRespiracion")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdTipoRespiracion", String.Empty)
            @Html.ValidationMessageFor(model => model.IdTipoRespiracion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdTipoExtremidad, "TipoExtremidad")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdTipoExtremidad", String.Empty)
            @Html.ValidationMessageFor(model => model.IdTipoExtremidad)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdEstructuraPiel, "EstructuraPiel")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdEstructuraPiel", String.Empty)
            @Html.ValidationMessageFor(model => model.IdEstructuraPiel)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdTipoSangre, "TipoSangre")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdTipoSangre", String.Empty)
            @Html.ValidationMessageFor(model => model.IdTipoSangre)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
