@model ProgAvanzada_ProyectoFinal.Models.Vertebrados

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Vertebrados</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdVertebrados)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdVertebrados)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NombreComun)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NombreComun)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NombreCientifico)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NombreCientifico)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NumeroPatas)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumeroPatas)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Habitat.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Habitat.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TipoReproduccion.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoReproduccion.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TipoAlimentacion.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoAlimentacion.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TipoRespiracion.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoRespiracion.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TipoExtremidad.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoExtremidad.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EstructuraPiel.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EstructuraPiel.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TipoSangre.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoSangre.Nombre)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
