@model IEnumerable<ProgAvanzada_ProyectoFinal.Models.Vertebrados>
@using System.Data;
@using System.Dynamic;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@{
    DataTable table = ViewBag.table;
    var result = new List<dynamic>();
    foreach (DataRow row in table.Rows){
        var obj = (IDictionary<string, object>)new ExpandoObject();
        foreach (DataColumn col in table.Columns)
        {
            obj.Add(col.ColumnName, row[col.ColumnName]);
        }
        result.Add(obj);
    }
    var grid = new WebGrid(result);
    grid.Pager(WebGridPagerModes.NextPrevious);
}
<div>
    @grid.GetHtml(
            tableStyle: "gridTable",
            headerStyle: "gridHead",
            footerStyle: "gridFooter",
            rowStyle: "gridRow",
            alternatingRowStyle: "gridAltRow")
</div>

@*
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdVertebrados)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreComun)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreCientifico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroPatas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Habitat.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoReproduccion.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoAlimentacion.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoRespiracion.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoExtremidad.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstructuraPiel.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoSangre.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdVertebrados)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreComun)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreCientifico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroPatas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Habitat.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoReproduccion.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoAlimentacion.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoRespiracion.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoExtremidad.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstructuraPiel.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoSangre.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>*@
