@model IEnumerable<ProgAvanzada_ProyectoFinal.Models.Vertebrados>
@using System.Data;
@using System.Dynamic;

@{
    ViewBag.Title = "Index";
}


<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.DropDownListFor(x => x, new[] {
     new SelectListItem{Value="1", Text = "IdVertebrados"},
     new SelectListItem{Value="2", Text = "Nombre Comun"},
     new SelectListItem{Value="3", Text = "Nombre Cientifico"},
     new SelectListItem{Value="4", Text = "Numero Patas"},
     new SelectListItem{Value="5", Text = "Habitat"},
     new SelectListItem{Value="6", Text = "Tipo de Reproduccion"},
     new SelectListItem{Value="7", Text = "Tipo de Alimentacion"},
     new SelectListItem{Value="8", Text = "Tipo de Respiracion"},
     new SelectListItem{Value="9", Text = "Tipo de Extremidades"},
     new SelectListItem{Value="10", Text = "Tipo de Reproduccion"},
     new SelectListItem{Value="11", Text = "Estructura de Piel"},
     new SelectListItem{Value="11", Text = "Tipo de Sangre"},
        }, new { id = "filter" })
    @Html.DisplayName("Buscar");
    @Html.Editor("");
</p>
@*
@{
   
    var result = new List<dynamic>();
    foreach (DataRow row in table.Rows){
        var obj = (IDictionary<string, object>)new ExpandoObject();
        foreach (DataColumn col in table.Columns)
        {
            obj.Add(col.ColumnName, row[col.ColumnName]);
        }
        result.Add(obj);
    }
    var grid = new WebGrid(result);
    grid.Pager(WebGridPagerModes.NextPrevious);
}
<div>
    @grid.GetHtml(
            tableStyle: "gridTable",
            headerStyle: "gridHead",
            footerStyle: "gridFooter",
            rowStyle: "gridRow",
            alternatingRowStyle: "gridAltRow")
</div>
*@
<table class="gridTable">
    <tr class ="gridHead">
        <th>
            @Html.DisplayNameFor(model => model.IdVertebrados)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreComun)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreCientifico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroPatas)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Habitat.Nombre)*@
            Habitat
        </th>
        <th>
           @* @Html.DisplayNameFor(model => model.TipoReproduccion.Nombre)*@
            Tipo de Reproduccion
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.TipoAlimentacion.Nombre)*@
            Tipo de Alimentacion
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.TipoRespiracion.Nombre)*@
            Tipo de Respiracion
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.TipoExtremidad.Nombre)*@
            Tipo de Extremidades
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.EstructuraPiel.Nombre)*@
            Estructura de Piel
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.TipoSangre.Nombre)*@
            Tipo de Sangre
        </th>
        <th>Controles</th>
    </tr>

@foreach (var item in Model) {
    <tr class="gridRow">
        <td>
            @Html.DisplayFor(modelItem => item.IdVertebrados)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreComun)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreCientifico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroPatas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Habitat.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoReproduccion.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoAlimentacion.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoRespiracion.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoExtremidad.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstructuraPiel.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoSangre.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdVertebrados  }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdVertebrados  }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdVertebrados })
        </td>
    </tr>
}

</table>
