@model ProgAvanzada_ProyectoFinal.Models.Usuario

@{
    ViewBag.Title = "Create";
}

<style type="text/css">
        .bgCol {
            /*background-image: url(../TURBO!.png);
            background-color:white;
            background-size:contain;
            background-repeat:no-repeat;
            background-position-x:center;*/
            color: black;
        }

    .bgColLink
    {
        background-color:transparent;
        outline: none;
        width: 250px;
        height: 120px;
        text-decoration:none;   
    }
        .bgColLink:link, .bgColLink:visited, bgColLin:active
        {
            color: #000;
        }

        .bgColLink:hover
        {
            background-color:transparent;
            text-decoration: underline;
        }
</style>

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Usuario</legend>

@*        <div class="editor-label">
            @Html.LabelFor(model => model.IdUsuario, new { Class = "bgCol"})
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdUsuario)
            @Html.ValidationMessageFor(model => model.IdUsuario)
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre, new { Class = "bgCol"})
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <div class="editor-label">
            @Html.Label("Usuario", new { Class = "bgCol"})
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Usuario1)
            @Html.ValidationMessageFor(model => model.Usuario1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Contraseña, new { Class = "bgCol"})
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Contraseña)
            @Html.ValidationMessageFor(model => model.Contraseña)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdTipoUsuario, "TipoUsuario", new { Class = "bgCol"})
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdTipoUsuario", String.Empty)
            @Html.ValidationMessageFor(model => model.IdTipoUsuario)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to Login", "Login", "", new { Class = "bgColLink" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
