@model ProgAvanzada_ProyectoFinal.Models.Usuario

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Usuario/_Layout.cshtml";
}

@*<body background="~/TURBO!.png"> *@
    <div>
        <p align="center">
            @*<img src="~/TURBO!.png"/>*@
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            @using (Html.BeginForm()) {
            <center>
            @Html.AntiForgeryToken()
            @Html.Label("Usuario");
            @Html.TextBoxFor(m=>m.Usuario1)
            @Html.LabelFor(m=>m.Contraseña)
            @Html.TextBoxFor(m=>m.Contraseña,new { type = "password"})
            <br />
            <br />
            <input type="submit" value="Ingresar"/>
            </center>
        }
        </p>
    </div>
</body>
@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TipoUsuario.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contraseña)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdTipoUsuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TipoUsuario.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contraseña)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdTipoUsuario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>*@

