@model ProgAvanzada_ProyectoFinal.Models.Invertebrados

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Invertebrados</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdInvertebrados)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdInvertebrados)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NombreCientifico)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NombreCientifico)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NumeroPatas)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumeroPatas)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Habitat.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Habitat.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TipoReproduccion.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoReproduccion.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TipoAlimentacion.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoAlimentacion.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TipoRespiracion.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoRespiracion.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TipoSimetria.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoSimetria.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TipoTejido.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoTejido.Nombre)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.IdInvertebrados }) |
    @Html.ActionLink("Back to List", "Index")
</p>
