@model IEnumerable<ProgAvanzada_ProyectoFinal.Models.Invertebrados>
@using System.Data;
@using System.Dynamic;


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*
@{
    DataTable table = ViewBag.table;
    var result = new List<dynamic>();
    foreach (DataRow row in table.Rows){
        var obj = (IDictionary<string, object>)new ExpandoObject();
        foreach (DataColumn col in table.Columns)
        {
            obj.Add(col.ColumnName, row[col.ColumnName]);
        }
        result.Add(obj);
    }
    var grid = new WebGrid(result);
    grid.Pager(WebGridPagerModes.NextPrevious);
}
<div>
    @grid.GetHtml(
            tableStyle: "gridTable",
            headerStyle: "gridHead",
            footerStyle: "gridFooter",
            rowStyle: "gridRow",
            alternatingRowStyle: "gridAltRow")
</div>*@

<table class="gridTable">
    <tr class ="gridHead">
        <th>
            @Html.DisplayNameFor(model => model.IdInvertebrados)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreComun)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreCientifico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroPatas)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Habitat.Nombre)*@
            Habitat
        </th>
        <th>
           @* @Html.DisplayNameFor(model => model.TipoReproduccion.Nombre)*@
            Tipo de Reproduccion
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.TipoAlimentacion.Nombre)*@
            Tipo de Alimentacion
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.TipoRespiracion.Nombre)*@
            Tipo de Respiracion
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.TipoSimetria.Nombre)*@
            Tipo de Simetria
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.TipoTejido.Nombre)*@
            Tipo de Tejido
        </th>
        <th>Controles</th>
    </tr>

@foreach (var item in Model) {
   <tr class="gridRow">
        <td>
            @Html.DisplayFor(modelItem => item.IdInvertebrados)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreComun)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreCientifico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroPatas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Habitat.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoReproduccion.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoAlimentacion.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoRespiracion.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoSimetria.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoTejido.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdInvertebrados}) |
            @Html.ActionLink("Details", "Details", new {id=item.IdInvertebrados}) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdInvertebrados})
        </td>
    </tr>
}

</table>
